/* Progress indicator is the little number (1/5) at the top */
.progress--indicator {
  color: var(--main-text-color);
  font-weight: bold;
}

/* card containing the pinned message*/
.quote {
  margin: 40px 0px;
  max-width: 600px;
  word-wrap: break-word;
  color: var(--main-text-color);
  font-size: 3em;
}

@media only screen and (max-width: 600px) {
  .quote {
    font-size: 2em;
  }

  .options {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Posted URLs or references to users get highlighted */
.highlight {
  color: var(--pop-color);
}

/* The section containing various author options */
.options {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(2, 1fr);
  max-width: 600px;
  width: 100%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .options {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Describes a single option in the list */
.option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option--avatar {
  width: 64px;
  height: 64px;
  position: relative;
  margin: 0;
}

.option--avatar:after {
  display: block;
  position: absolute;
  background-color: var(--pop-color);
  content: " ";
  width: 64px;
  height: 64px;
  top: 0;
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.option:hover .option--avatar:after {
  opacity: 0.6;
}

.option--name {
  flex-grow: 1;
  padding-left: 10px;
  text-align: left;
}

.option:hover .option--name {
  color: var(--offset-background-color);
}

.option--arrow {
  display: flex;
  width: 20px;
  height: 64px;
  align-items: center;
  opacity: 0;
  color: var(--offset-background-color);
  transform: translateX(-10px);
  transition: opacity 100ms linear, transform 200ms ease-in;
}

.option:hover .option--arrow {
  opacity: 1;
  transform: translateX(0px);
}
