/* Basic Variables*/
:root {
  --pop-color: hotpink;
  --main-text-color: #666666;
  --offset-background-color: #ffffff;
}

/* Some resetting styles*/
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  height: 100%;
}
.highlight {
  color: var(--pop-color);
}

/* Author option card */
.option--list {
  display: flex;
  padding: 0;
  width: 600px;
  flex-wrap: wrap;
}

.option {
  --vertical-gutter: 5px;
  --horizontal-gutter: 10px;

  width: calc(50% - var(--vertical-gutter));
  cursor: pointer;
  border: 0;
  outline: none;
  display: flex;
  background-color: #ededed;
  margin-right: var(--vertical-gutter);
  margin-bottom: var(--horizontal-gutter);
  padding: 0;
}

.option:hover {
  background-color: var(--pop-color);
  color: white;
}

.option--avatar {
  width: 64px;
  height: 64px;
  position: relative;
}

.option--avatar:after {
  display: block;
  position: absolute;
  content: " ";
  width: 200px;
  height: 200px;
  background-color: red;
}

.option--name {
  text-align: center;
  font-weight: bold;
  color: var(--main-text-color);
}

/* ChallengeView styling */
.challenge-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Quote card */
.quote--box {
  width: 800px;
}

.quote {
  word-wrap: break-word;
  color: var(--main-text-color);
  margin: 50px 100px;
  font-size: 3em;

  padding: 20px;
}

.progress--indicator {
  background-color: var(--offset-background-color);
  border-radius: 5px 5px 0px 0px;
  padding: 15px 20px;
}

.progress--indicator span {
  color: var(--main-text-color);
  font-weight: bold;
}

/* Score View */
.score-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score--box {
  background-color: var(--offset-background-color);
  border-radius: 5px;
  width: 800px;
  padding: 20px;
}

.score--stars {
  font-size: 6em;
  text-align: center;
  letter-spacing: 10pt;
  color: var(--main-text-color);
}

.score--box h1 {
  color: var(--main-text-color);
  font-size: 3em;
  text-align: center;
}

.score--box ul {
  list-style: none;
  width: 400px;
  margin: 0 auto;
  padding: 0;
}

.score--box li {
  position: relative;
  margin: 10px;
  padding: 10px 0px 10px 30px;
  color: var(--main-text-color);
}

.score--box li:before {
  position: absolute;
  content: "";
  left: 0px;
  top: calc(50% - 7px);
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.score--box li.green:before {
  background-color: rgba(61, 153, 112, 0.8);
}

.score--box li.red:before {
  background-color: rgba(255, 65, 54, 0.8);
}

.score--box button {
  border: none;
  padding: 15px 120px;
  font-size: 1em;
  border-radius: 6px;
  color: #999;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0 0 1px 0 #aaa;
  transition: box-shadow 500ms;

  outline: none;
}

.score--box button:hover {
  box-shadow: 0 0 10px #ccc;
}

.center {
  text-align: center;
}

.zigzag {
  /* Set some variables for the ZigZag*/
  --height: 16px;
  --color: #ededed;
  --thickness: 2px;
  --background-color: white;

  /* Define the ZigZag pattern itself*/
  height: var(--height);
  margin: 20px auto;
  width: 400px;

  background: linear-gradient(
      135deg,
      var(--background-color) calc(var(--height) / 2),
      transparent 0
    ),
    linear-gradient(
      -135deg,
      var(--background-color) calc(var(--height) / 2),
      transparent 0
    ),
    linear-gradient(
      135deg,
      transparent calc(var(--height) / 2),
      var(--color) 0px,
      var(--color) calc(var(--height) / 2 + var(--thickness)),
      transparent 0px
    ),
    linear-gradient(
      -135deg,
      transparent calc(var(--height) / 2),
      var(--color) 0px,
      var(--color) calc(var(--height) / 2 + var(--thickness)),
      transparent 0px
    );

  background-clip: border-box;
  background-repeat: repeat-x;
  background-size: var(--height) var(--height);
}

/* Loader View */
.loader-view {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* error view */
.error-view {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error--details {
  color: var(--main-text-color);
}

/* Spinner Component */
.spinner--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner--disc {
  width: 50px;
  height: 50px;
  background-color: var(--offset-background-color);
  border: 5px solid transparent;
  border-right: 5px solid var(--pop-color);
  border-radius: 50%;
  animation: spinning 0.6s linear infinite;
  box-shadow: 0px 0px 0px 3px var(--offset-background-color);
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner--text {
  margin: 1.3em 0 0 0;
  font-weight: bold;
  color: var(--main-text-color);
}
