/* Basic Variables*/
:root {
  --pop-color: hotpink;
  --main-text-color: #666666;
  --offset-background-color: #ffffff;

  --score-red-color: rgba(255, 65, 54, 0.8);
  --score-green-color: rgba(61, 153, 112, 0.8);
}

/* Some resetting styles */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
  }
}

/* Main wrapper of the application */
.app {
  height: 100%;
}

/* Style general button style */
.button {
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 0;

  background-color: #ededed;
  border-radius: 5px;
  overflow: hidden;
  transition: background-color 200ms ease-in;

  font-weight: bold;
  font-size: 12pt;
  color: var(--main-text-color);
}

.button:hover {
  background-color: var(--pop-color);
  color: white;
}

.view {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Spinner Component */
.spinner--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner--disc {
  width: 50px;
  height: 50px;
  background-color: var(--offset-background-color);
  border: 5px solid transparent;
  border-right: 5px solid var(--pop-color);
  border-radius: 50%;
  animation: spinning 0.6s linear infinite;
  box-shadow: 0px 0px 0px 3px var(--offset-background-color);
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner--text {
  margin: 1.3em 0 0 0;
  font-weight: bold;
  color: var(--main-text-color);
}
